*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: normal;
  font-variation-settings: normal;
}

body {
	background-color: rgb(243, 244, 246);
  margin: 0;
  line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button,
input,
textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button,
[role="button"] {
  cursor: pointer;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img {
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none;
}

input[type="text"],
input[type="email"],
textarea {
  display: block;
  padding: 0.563rem 1.125rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: rgb(38, 38, 38);
  border: 1px solid transparent;
  border-radius: 0.25rem;
  background-color: rgb(239, 239, 239);
  outline: 0;
}

input[type="text"],
input[type="email"] {
  width: 15rem;
}

textarea {
  max-width: 100%;
}

button.submit {
  background-color: rgb(250, 224, 87);
  border-radius: 00.25rem;
  color: rgb(38, 38, 38);
  font-weight: 400;
  line-height: 1.25rem;
  padding: 0.563rem 1.125rem;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
  vertical-align: middle;
}

.image img {
  display: inline-block;
  padding: 0.5rem;
}

.link {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.link > li {
  margin-left: 1.25rem;
}

.link > li:first-child {
  margin-left: 0;
}

.link > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
}

.lists .list-item {
  display: flex;
  margin-top: 0.875rem;
}

.lists .list-item:first-child {
  margin-top: 0;
}

.list-item .list-item-text {
  color: rgb(71,71,71);
  padding-left: 1rem;
}

.list-item .list-item-icon {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  width: 2rem;
  height: 2rem;
}

.image img,
.link > li > a,
.list-item .list-item-icon {
  border: 2px solid rgb(219, 188, 77);
  border-radius: 100%;
}

.field {
  margin-bottom: 1rem;
}

.section .content {
  color: rgb(125, 125, 125);
  line-height: 2rem;
  letter-spacing: 0.025rem;
  font-weight: 300;
}

.content > p {
  margin-top: 2rem;
}

.content > p:first-child {
  margin-top: 0;
}

.section .title {
  color: rgb(71,71,71);
  font-family: "Roboto Mono", monospace;
  font-size: 1.75rem;
  font-weight: 500;
}

.section > * {
  margin-top: 2.375rem;
  margin-bottom: 2.375rem;
}

.section {
  background-color: rgb(255, 255, 255);
  margin-top: 0.25rem;
  padding: 2.5rem 1.5rem;
}

.section:first-child {
  margin-top: 0;
}

.App {
  max-width: 36rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .section {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 1024px) {
  .link > li > a {
    width: 3.25rem;
    height: 3.25rem;
  }

  .list-item .list-item-text {
    font-size: 1.25rem;
  }

  .section .content {
    font-size: 1.5rem;
    line-height: 3rem;
  }

  .section > .image {
    margin-top: 0;
  }

  .section .title {
    font-size: 2.5rem;
  }

  .section {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .App {
    padding: 2.5rem 1.5rem;
    max-width: 48rem;
  }
}